<!DOCTYPE html>
<html>
<head>
  <title>Stricklyrichent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class='container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <i class="fa fa-sliders"></i>
      Strickly Rich Ent.
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", about_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<div>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#"> New Beats </a></li>
    <li role="presentation"><a href="#"> Hip-Hop </a></li>
    <li role="presentation"><a href="#"> Trap </a></li>
  </ul>
</div>


<div class="container">
  <%= yield %>
</div>

</body>
</html>
